/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/uploads
/public/storage
/storage/*.key
/storage/pail
/storage/framework/views/*.php
test_user_tier_update.php


/public/proofs/
/public/proof_images/

/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
